/* animations.css */

/* --- PRELOADER Y TRANSICIONES DE PÁGINA --- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #444;
    border-top: 5px solid #D9232D; /* Color rojo principal */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

body.fade-out {
    opacity: 0;
}