---
layout: "base.njk"
title: "Soluciones para Empresas"
---

<main>
    <section class="page-header" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/images/empresa-01.jpg');">
        <div class="container">
            <h1>{{ empresas.titulo_principal }}</h1>
            <p>{{ empresas.subtitulo }}</p>
        </div>
    </section>
    <section id="servicios-empresa" style="background-color: var(--color-fondo-claro);">
        <div class="container text-center">
            <h3>Fotografía Corporativa</h3>
            <div class="gallery-grid">
                <img src="/images/empresa.jpg" alt="Corporativo 1">
                <img src="/images/corporativ.jpg" alt="Corporativo 2">
            </div>
        </div>
    </section>
</main>
